<section id="titles">
  <a href="{{ site.url }}" title="{{ site.title }}"><img id="logo" src="{{ site.url }}/images/{{ site.logo}}" /></a>
  <h1 id="site_title"><a href="{{ site.url }}" title="{{ site.title }}">{{ site.title }}</a></h1>
  <h3 id="site_subtitle">{{ site.subtitle }}</h3>
</section>

<section id="menu">
  <ul>
    <li><i class="fa fa-home fa-lg"></i><a href="{{ site.url }}"> Home </a></li>
    <li><i class="fa fa-calendar fa-lg"></i><a href="{{ site.url }}/blog/archives/"> Archives </a></li>
    <li><i class="fa fa-user fa-lg"></i><a href="{{ site.url }}/about/"> About </a></li>
    <li><i class="fa fa-rss fa-lg"></i><a href="{{ site.url }}/atom.xml"> Feed </a></li>
  </ul>
</section>

<section id="social">
  {% if site.delicious_user != null %}
    <a href="https://delicious.com/{{ site.github_user }}" title="delicious#{{ site.delicious_user}}"><i class="fa fa-bookmark fa-2x"></i></a>
  {% endif %}

  {% if site.disqus_user != null %}
    <a href="https://disqus.com/{{ site.disus_user }}" title="disqus#{{ site.disqus_user}}"><i class="fa fa-comment fa-2x"></i></a>
  {% endif %}

  {% if site.googleplus_user != null %}
    <a href="{{ site.googleplus_profile_url }}" title="g+#{{ site.googleplus_user}}"><i class="fa fa-google-plus fa-2x"></i></a>
  {% endif %}

  {% if site.github_user != null %}
    <a href="https://github.com/{{ site.github_user }}" title="{{ site.github_user}}"><i class="fa fa-github fa-2x"></i></a>
  {% endif %}

  {% if site.pinboard_user != null %}
    <a href="http://pinboard.in/u:{{ site.pinboard_user }}" title="{{ site.pinboard_user}}"><i class="fa fa-thumb-tack fa-2x"></i></a>
  {% endif %}

  {% if site.twitter_user != null %}
    <a href="https://twitter.com/{{ site.twitter_user }}" title="{{ site.twitter_user}}"><i class="fa fa-twitter fa-2x"></i></a>
  {% endif %}
</section>
